version: "3.7"

networks:
  frappe-network:
    name: frappe-network
    external: true

volumes:
  frappe13-mariadb-vol:
    external: true
    name: frappe13-mariadb-vol
  frappe13-redis-cache-data:
    external: true
    name: frappe13-redis-cache-data
  frappe13-redis-queue-data:
    external: true
    name: frappe13-redis-queue-data
  frappe13-redis-socketio-data:
    external: true
    name: frappe13-redis-socketio-data
  # postgresql-vol:

services:
  mariadb:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed # Temporary fix for MariaDB 10.6
      - --max_allowed_packet=512M
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_ROOT_USER: root
    volumes:
      - frappe13-mariadb-vol:/var/lib/mysql
    networks:
      - frappe-network
    ports:
      - "33066:3306"

  # Enable PostgreSQL only if you use it, see development/README.md for more information.
  # postgresql:
  #   image: postgres:11.8
  #   restart: on-failure
  #   environment:
  #     - POSTGRES_PASSWORD=123
  #   volumes:
  #     - postgresql-vol:/var/lib/postgresql/data

  redis-cache:
    image: redis:alpine
    volumes:
      - frappe13-redis-cache-data:/data
    networks:
      - frappe-network

  redis-queue:
    image: redis:alpine
    volumes:
      - frappe13-redis-queue-data:/data
    networks:
      - frappe-network

  redis-socketio:
    image: redis:alpine
    volumes:
      - frappe13-redis-socketio-data:/data
    networks:
      - frappe-network

  frappe:
    build: .
    command: bash -c "cd frappe-bench;bench start"
    # command: sleep infinity
    user: frappe:frappe
    environment:
      SSH_AUTH_SOCK: $SSH_AUTH_SOCK
    volumes:
      - ../../frappe_docker_13:/workspace
      - /home/${USER}/.ssh/known_hosts:/home/frappe/.ssh/known_hosts
      - /home/${USER}/.bash_history:/home/frappe/.bash_history
      - /home/${USER}/.gitconfig:/home/frappe/.gitconfig
      - .bash_aliases:/home/frappe/.bash_aliases
      - $SSH_AUTH_SOCK:$SSH_AUTH_SOCK
    working_dir: /workspace/development/
    ports:
      - "8000-8005:8000-8005"
      - "9000-9005:9000-9005"
      - "587:587"
      - "143:143"
    networks:
      - frappe-network

#  frappe-maildev:
#    image: maildev/maildev
#    container_name: frappe-maildev
#    ports:
#      - "6081:1080"
#      - "25:1025"
#    networks:
#      - frappe-network

  greenmail:
    image: greenmail/standalone
    ports:
      - "6081:8080"
    networks:
      - frappe-network

  roudcube:
    image: roundcube/roundcubemail
    environment:
      ROUNDCUBEMAIL_DEFAULT_HOST: greenmail
      ROUNDCUBEMAIL_DEFAULT_PORT: 3143
      ROUNDCUBEMAIL_SMTP_SERVER: greenmail
      ROUNDCUBEMAIL_SMTP_PORT: 3025
    ports:
      - "6082:80"
    networks:
      - frappe-network

  # adminer:
  # image: adminer
  # depends_on:
  # - mariadb
  # ports:
  # - 7000:8080
  # networks:
  # - frappe-network

#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    container_name: frappe_phpmyadmin
#    environment:
#      PMA_HOST: mariadb
#    depends_on:
#      - mariadb
#    ports:
#      - "8080:80"
#    networks:
#      - frappe-network
