version: "3.7"

networks:
  frappe-network:
    name: frappe-network
    external: true

volumes:
  frappedev-mariadb-vol:
    external: true
    name: frappedev-mariadb-vol
  frappedev-redis-cache-data:
    external: true
    name: frappedev-redis-cache-data
  frappedev-redis-queue-data:
    external: true
    name: frappedev-redis-queue-data
  frappedev-redis-socketio-data:
    external: true
    name: frappedev-redis-socketio-data
  # postgresql-vol:

services:
  mariadb:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed # Temporary fix for MariaDB 10.6
      - --max_allowed_packet=512M
    environment:
        MYSQL_ROOT_PASSWORD: 123
        MYSQL_ROOT_USER: root
    volumes:
      - frappedev-mariadb-vol:/var/lib/mysql
    networks:
      - frappe-network
    ports:
      - "33066:3306"

  # Enable PostgreSQL only if you use it, see development/README.md for more information.
  # postgresql:
  #   image: postgres:11.8
  #   restart: on-failure
  #   environment:
  #     - POSTGRES_PASSWORD=123
  #   volumes:
  #     - postgresql-vol:/var/lib/postgresql/data

  redis-cache:
    image: redis:alpine
    volumes:
      - frappedev-redis-cache-data:/data
    networks:
      - frappe-network

  redis-queue:
    image: redis:alpine
    volumes:
      - frappedev-redis-queue-data:/data
    networks:
      - frappe-network

  redis-socketio:
    image: redis:alpine
    volumes:
      - frappedev-redis-socketio-data:/data
    networks:
      - frappe-network

  frappe:
    image: frappe/bench:latest
    command: bash -c "cd frappe-bench;bench start"
    # command: sleep infinity
    environment:
      - SHELL=/bin/bash
      #- SSH_AUTH_SOCK:$SSH_AUTH_SOCK
    volumes:
      - ../../frappe_docker_dev:/workspace
      - ./.bash_aliases:/home/frappe/.bash_aliases
      - /home/${USER}/.ssh/id_rsa:/home/frappe/.ssh/id_rsa
      - /home/${USER}/.ssh/id_rsa.pub:/home/frappe/.ssh/id_rsa.pub
      - /home/${USER}/.ssh/known_hosts:/home/frappe/.ssh/known_hosts
      - /home/${USER}/.bash_history:/home/frappe/.bash_history
      - /home/${USER}/.gitconfig:/home/frappe/.gitconfig
      #- $SSH_AUTH_SOCK:$SSH_AUTH_SOCK
    working_dir: /workspace/development/
    ports:
      - "8000-8005:8000-8005"
      - "9000-9005:9000-9005"
      - "587:587"
      - "143:143"
    networks:
      - frappe-network

  # adminer:
  # image: adminer
  # depends_on:
  # - mariadb
  # ports:
  # - 7000:8080
  # networks:
  # - frappe-network

#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    container_name: frappe_phpmyadmin
#    environment:
#      PMA_HOST: mariadb
#    depends_on:
#      - mariadb
#    ports:
#      - "8080:80"
#    networks:
#      - frappe-network
